<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <pluginGroups>
    <pluginGroup>org.topazproject.plugins</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>build-env</id>
      <properties>
        <topazproject.install.dir>/usr/local/topaz</topazproject.install.dir>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>build-env</activeProfile>
  </activeProfiles>  
</settings>
