<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="autodetect"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <!--Plosone developer beans here -->
  <bean id="fetchArticleService" class="org.plos.article.service.FetchArticleService" init-method="init">
    <property name="articleRep" value="XML"/>
    <!-- Note: remember to prefix the filename with a "/" -->
    <property name="xslTemplate" value="/viewnlm-v2.xsl"/>
    <property name="xmlFactoryProperty" ref="xmlFactoryProperties"/>
    <property name="articleService" ref="articleService"/>
    <property name="useTranslet" value="true"/>
  </bean>

  <util:map id="xmlFactoryProperties">
    <entry key="javax.xml.transform.TransformerFactory"
           value="org.apache.xalan.xsltc.trax.TransformerFactoryImpl"/>
  </util:map>

  <bean id="articleService" class="org.plos.article.service.ArticleService">
    <property name="servicePort" value="http://localhost:8080/ws-articles-webapp-0.1/services/ArticleServicePort"/>
  </bean>


</beans>