.rating{ background: #fff url(../images/pone_ratings_bg2.gif) repeat-x bottom; }

#ratingAverages { display: none; }

.pone_rating { width:100px; height:15px; left: 8em; top: -1.25em; font-weight: normal; overflow:hidden; }
.pone_rating,
.pone_rating a:hover,
.pone_rating a:active,
.pone_rating a:focus,
.pone_rating .current-rating { background-image: url(../images/pone_rating.gif);	line-height: 15px;	height: 15px; }
.pone_rating .current-rating { background-position: left bottom; display: block; }
.pone_rating .average-rating { left: -20px; }
.pone_rating span.rated { 	background: url(../images/pone_rating.gif) left -1000px repeat-x; position:relative; top:0;	left:0;	text-indent:-10000em; height:25px; 	line-height:25px; outline:none; overflow:hidden; border: none; z-index:1; background-position: left center; }
.pone_rating .pct0 { width: 0;	}
.pone_rating .pct10 { width: 10%;	}
.pone_rating .pct20 { width: 20%;	}
.pone_rating .pct30 { width: 30%;	}
.pone_rating .pct40 { width: 40%;	}
.pone_rating .pct50 { width: 50%;	}
.pone_rating .pct60 { width: 60%;	}
.pone_rating .pct70 { width: 70%;	}
.pone_rating .pct80 { width: 80%;	}
.pone_rating .pct90 { width: 90%;	}
.pone_rating .pct100 { width: 100%;	}

div.response div.ratingScale,
div.response div.ratingHd { display: inline; }
div.response div.ratingScale { left: 0; top: 0; }
div.response div.ratingHd { left: 10em; top: 0; }