/*
----------------------------------------------------------
Global Homepages Style Sheet for PLoS Journals

Created on: August 22, 2006
Created by: Margaret Shear
Modified on: September 07, 2006
Modified by: Margaret Shear
----------------------------------------------------------
All journal specific styles, colors are on individual
journal style sheets
----------------------------------------------------------
*/
#wrap 			{ margin: 0 auto; width: 910px; background-color: #fff; padding: 0 0 10px 0; border: 1px solid #CCC; border-width: 0; line-height: 1.5em; }

/* Homepage : Elements
----------------------------------------------------------
*/
#home 			{ position: relative; background: url(../images/jour_home_bg.gif) repeat-y; }
#home img		{ border: 1px solid #ccc; background-color: #fff; display: inline; }
#home img.cover	{ border: none; }
#homa .banner img{ background-color: transparent; }
#home a 		{ text-decoration: none; }	/* remove the underline from all homepage links to increase legibility */
#home a:hover 	{ text-decoration: underline; } /* apply a border in hover state */
#home h1 		{ font-size: 1.5em; margin: 0 0 10px 0; font-weight: normal;} /* block titles */
#home h1 a		{ font-size: 1.2em; }
#home a h1,
#home a:hover h1{ color: inherit; } /* this ensures that the headings in the ad blocks will highlight appropriately */
#home h2 		{ background-color: #ddd; font-size: .85em; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0 0 10px 0; letter-spacing: normal; padding: 4px; color: #555;}
#home #second h2{ background: url(../images/pone_home_marketing_h2.gif) repeat-x bottom; font-size: 1em; font-weight: bold;}
.fm				{ background-image: url(../images/jour_sidenav_fm.gif); }
/* create additional h3 header style for the marketing column */
#home #second h3{ font-size: .9em; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0px; }

#home span.date { /* wraps last updated */color: #777; text-transform: uppercase; display: block; margin: 0 0 10px 0; font-size: .85em;}
#home span.date strong { /* wraps date within last updated */ font-weight: normal; color: #333; text-transform: none; border-bottom: 1px solid #ccc; padding-bottom: 5px;}

div.more		{ text-transform: uppercase; font-size: .85em; font-weight: bold; text-align: right; clear: left; margin: 0; margin-top: 2px; padding: 4px; background: url(../images/pone_home_more_bg.gif) repeat-x bottom;}

/* read more block */
div.more a,
div.more a:visited	{ color: #F5F5F5; padding-right: 5px;}
div.more a:hover	{ color: #fff; }


/* Homepage : Layout : Structure
----------------------------------------------------------
This layout has been adapted from the Yahoo Developer's Interface Library
Software License Agreement (BSD License)
----------------------------------------------------------
Copyright (c) 2006, Yahoo! Inc.
All rights reserved.
----------------------------------------------------------
*/
/* all modules and grids nested in a grid get floated */
.col .subcol, .col .col 	{ float:right; display:inline;   /* for ie */ }
/* float left and kill margin on first for added flex */
#first, .col .first 		{ float:left; background-color: #fff;}
/* container column 1 */
#first 						{ width: 520px; }
/* column 1 */
#first .first 				{ width: 130px; height: 300px; text-align: right; }
#first .first h6			{ margin: 0; padding: 0; font-size: .8em; text-transform: uppercase; text-align: center; color: #666; border-top: 1px solid #ccc;}
#first .first .block 		{ background-color: #FFF; margin: 0; margin-right: 1px; padding-left: 0; border-top: 3px double #ccc; border-width: 3px 0 0 0;}
#home .block.banner			{ border: none; }
#first .first .block.banner { background-color: transparent; }
/* column 2 */
#first .last 				{ width: 389px; }
#first .last p, #first .last h1	{ color: #303030; }
#first .last img,
/* contains columns 3 and column 4 */
#second 					{ width: 390px; }
/* column 3 */ 
#second .first 				{ width: 258px;  }
#second .first .block		{ background: url(../images/jour_sidenav_li_bg.gif) repeat-x bottom; }
/* col4 */
#second .last				{ width: 130px; }
#second .last .block		{ margin-top: 0; margin-right: 0; margin-left: 0; padding-left: 5px; padding-right: 5px; background-color: transparent; /* should only ever apply to ads */ }
/* self clear floated parent containers */
.col:after 					{content:".";display:block;height:0;clear:both;visibility:hidden;}	
.col 						{zoom:1;} /* IE */


/* all homepage content blocks are wrapped in class block for padding to avoid ie box model */
div.block 				{ margin: 0 3px 6px 3px; border: 1px solid #ccc; padding: 6px; clear: both; position: relative; }

div.block ul,
div.block li			{ margin: 0; padding: 0; list-style-position: inside; }

/* Feature Blocks are any blocks with large images */
div.feature 			{ padding-top: 10px; line-height: 1.4em;}
#home .block.feature p 	{ margin: 0; }
#home .feature img	 	{ width: 120px; height: 120px;}
#home .feature h2		{ clear: left; }
#home .block img 		{ float: left; margin: 0 10px 10px 0; }
#home .block.banner		{ padding: 0; border: none;}
#home .block.banner img { float: none; padding: 4px; margin: 0; border-width: 3px 0 0 0; border-style: double; border-color: #ccc; background: transparent; }
#home .block.banner.partner img {border-top: 1px solid #ccc; }
/* fixes float clearing bug */
#home .block:after		{ content: ".";  display: block;  height: 0; clear: both; visibility: hidden; }
#home p	{ font-size: .9em; }
#home div.pick			{ display: block; clear: left; border-top: 1px solid #ddd; padding-top: 2px; }
#home div.pick p		{ margin: 0; }

div.feature .more { text-align: right; margin: 0; }
div.top li 		{ margin-left: 20px; }

/* --- marketing is for 3rd col marketing real estate --- */

.marketing.block li	{ font-size: .9em; }


/* --- class ad is used for 3rd column ad space --- */
#home #second div.block.ad	{ padding: 0; clear: left; background: #efefef; height: 6em; }
.ad img 		{ width: 60px; height: 60px; display: block;}
#home .ad a:link,
#home .ad a:visited 
				{ color: #555; text-decoration: none; display: block; padding: 3px; border: 2px solid #FFF; height: 5.2em;}
#home .ad a:hover
				{ text-decoration: none; display: block; border-width: 2px; border-style: solid; background-color: #D2F7FF; color: #069; border-color: #069; }
#home .ad a strong
				{ margin: 0; font-size: 1.4em; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif; letter-spacing: -.05em; text-decoration: none; display: block; margin-bottom: 4px; }
#home .ad a span.body
				{ font-size: .9em; text-deocoration: none;}


div.block.rhc 			{ padding: 0 0 10px 0; }
#home #first .first li 	{ margin: 0; padding: 0; }
#home #first .first ul 	{ margin: 0; padding: 0; list-style-type: none; }
#home #first .first li ul { border-top: 1px solid #CECECE; list-style-type: none; }

/* --- mainnav is for left hand column main navigation items --- */
ul.mainNav,
ul.mainNav li 		{ margin: 0; padding: 0; list-style-type: none;}
ul.mainNav li a 	{ font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.5em; letter-spacing: -.03em; line-height: 1.6em;}



/* --- plos medicine only reader poll --- */
#home .block.poll { background-color: transparent; padding-bottom: 10px; padding-left: 5px; font-size: .9em; }
#home .block.poll h2 { background-image: none; background-color: transparent; border-bottom: 1px solid #ccc; font-size: 1em; color: inherit;}
#home .poll form fieldset 		{ width: 120px; padding: 0; position: relative; border: none;}
#home .poll form fieldset label 	{ display: block; color: #333; }
#home .poll form fieldset input 	{ color: #000; border: none; width: auto; }
#home .poll form fieldset div 	{ width: 120px; padding: 0; position: relative; height: 1.8em;}
#home .poll form fieldset div input { position: absolute; top: 0; left: 0; }
#home .poll form fieldset div label { position: absolute; top: 0; left: 2.4em; font-weight: bold;}
#home .marketing.block	{ padding: 0; }
#home .marketing h2		{ margin: 3px; }
#home .marketing ul,
#home .marketing li		{ margin: 0; padding: 0; list-style-type: none; background: #FFF url(../images/jour_sidenav_li_bg.gif) repeat-x bottom; }
#home .marketing li a	{ border-top: 1px solid #ccc; margin: 0; padding: 2px 4px 2px 16px; display: block; background: transparent url(../images/pone_home_marketing_a.gif) no-repeat 0 50%; }
#home .marketing li a:hover { background-color: #D2F7FF; text-decoration: none;}

/* --- focus is for home page tabbed blocks --- */
#tabContainer 		{ width: auto; padding: 0; }
#tabContainer .block a:link,
#tabContainer .block a:visited	{ font-size: .9em; padding-top: 2px; }
#tabContainer ul	{ margin: 5px; }
#home #tabContainer.block	{ border-bottom: 1px solid #ccc; border-top: none; border-right: none; }
#home #tabContainer .block	{ overflow: hidden; background: #fff; }
div.block div.block		{ border: none; border-top: 1px solid #ccc; margin: 0; border-right: 1px solid #ccc;}
#recent ul,
#recent li	{ list-style-type: none; }

#home .block.about p	{ font-size: 1.1em; }

#home .block.banner.partner	{ }
#home .block.banner.partner	img	{ background: #fff; }
#home .block.partner h3	{ }


/* TEMP ITEMS */
#home ul.articles,
#home ul.articles li	{ margin: 0; padding: 0; list-style-type: none; text-indent; }
#home ul.articles li	{ font-size: .85em; border-bottom: 2px solid #ddd; padding: 3px 0; }

#home dl.category 		{ margin: 0; }
#home dl.category dt	{ margin: 0; border-bottom: 1px solid #ccc; padding: 2px; color: #333;}
#home dl.category dd	{ display: none; }
