/*
----------------------------------------------------------
Global Homepages Style Sheet for PLoS Journals

Created on: August 22, 2006
Created by: Margaret Shear
Modified on: September 07, 2006
Modified by: Margaret Shear
----------------------------------------------------------
All journal specific styles, colors are on individual
journal style sheets
----------------------------------------------------------
*/
html 		{ margin: 0 0 1px 0; min-height: 100%; /* set margin and height to eliminate the scroll bar page shift on mozilla and safari */ background: #fff url(../images/pone_html_bg.gif) 0 0 repeat-x; }

body		{ background-color: transparent }
#wrap 		{ margin: 0 auto 0 auto; width: 910px; ; padding: 0 0 10px 0; line-height: 1.5em; position: relative; }


/* Homepage : Elements
----------------------------------------------------------
*/
#home			{ position: relative; border: 1px solid #ccc; background: #fff url(../images/pone_home_bg.gif) repeat-y; margin-bottom: 20px; }
#home img		{ background-color: #fff; display: inline; position: relative;}
#home a:link,
#home a:visited	{ text-decoration: none; }	/* remove the underline from all homepage links to increase legibility */
#home a:hover 	{ text-decoration: underline; } /* apply a border in hover state */
#home h2		{ border-bottom: 1px solid #ccc; margin: 0; padding-bottom: 5px;}
#home h3		{ font-size: 1.2em; margin: 6px 0; }
/* read more block */
div.more a,
div.more a:visited	{ color: #F5F5F5; padding-right: 5px;}
div.more a:hover	{ color: #fff; }


/* Homepage : Layout : Structure
----------------------------------------------------------
This layout has been adapted from the Yahoo Developer's Interface Library
Software License Agreement (BSD License)
----------------------------------------------------------
Copyright (c) 2006, Yahoo! Inc.
All rights reserved.
----------------------------------------------------------
*/
/* all modules and grids nested in a grid get floated */
.col .subcol, .col .col 	{ float:right; display:inline;   /* for ie */ }
/* float left and kill margin on first for added flex */
#first, .col .first 		{ float:left; }
/* container column 1 */
#first 						{ width: 518px; }
/* column 1 */
#first .first 				{ width: 128px; text-align: right; }
#first .first div.block 	{ background-color: #fff; margin: 0; padding-left: 0;padding-right: 2px;}
#first .first div.banner	{ background-color: transparent; }

#first .first li,
#first .first ul			{ margin: 0; padding: 0; }
#first .first ul ul			{ display: none; }

/* column 2 */
#first .last 				{ width: 385px;}
#first .last p,
#first .last h1				{ color: #303030; }
/* contains columns 3 and column 4 */
#second 					{ width: 390px; }
/* column 3 */ 
#second .first 				{ width: 260px; }
/* col4 */
#second .last				{ width: 128px; padding: 0; }

#lower						{ width: 100%; margin: 20px 0 0 0; padding: 30px 0; clear: both; background: #fff url(../images/pone_home_lower_bg.gif) no-repeat top left; font-size: .9em;}
#lower div.block			{ background-color: transparent; border: none;}
#lower .first				{ width: 286px;  margin-left: 134px;}
#lower .last				{ width: 358px; float: right; margin-right: 130px;}
#lower .last .block			{ padding: 0;}
/* self clear floated parent containers */
#lower:after,
.col:after 					{content:".";display:block;height:0;clear:both;visibility:hidden;}	
#lower,
.col 						{zoom:1;} /* IE */
#lower a:link,
#lower a:visited			{ text-decoration: underline;}
#lower a:hover				{ text-decoration: none; }
#lower h3					{ background-color: #ddd; letter-spacing: normal; font-size: 1em; margin-right: 10px 0; padding: 1px 5px; font-family: Verdana, Arial, Helvetica, sans-serif; }

/* all homepage content blocks are wrapped in class block for padding to avoid ie box model */
div.block 				{ margin: 0 3px 6px 3px; padding: 6px; clear: both; position: relative; }


/* wraps banner ads and partner icons */

div.block.banner				{ padding: 0; border: none; margin: 4px auto; }
div.block.banner img 			{ float: none; margin: 4px; background: transparent; }
div.block.partner 					{ text-align: center; margin-right: 0; padding-right: 0; padding-top: 0;border-right: 1px solic #ccc;background-color: #fff; position: relative; border-top: 1px solic #ccc;}
div.block.partner h6			{ background: transparent url(../images/pone_home_lower_bg.gif) no-repeat top right; font-weight: normal; text-align: center; font-size: .9em; margin: 0; padding-bottom: 10px; padding-top: 4px;}
#first div.partner img 				{ float: none; margin: 20px auto; text-align: center;  }

.block img 			{ float: left; margin: 0 10px 10px 0; }

/* fixes float clearing bug */
.block:after		{ content: ".";  display: block;  height: 0; clear: both; visibility: hidden; }
p	{ font-size: .9em; }


div.tabs			{ padding: 4px 0; }
div.tabs span		{ padding: 4px; color: #333; margin-right: 3px; font-size: .9em; font-weight: bold; color: #333; text-decoration: underline;}
div.tabs span.current	{ background: #FFF; color: #000;}
ul.articles,
ul.articles li		{ margin: 0; padding: 0; list-style-type: bullet;}
ul.articles			{ margin: 0 4px 10px 0;  padding: 20px 20px 0 20px;}
ul.articles li		{ font-size: .9em; padding: 3px 5px; }
ul.articles			{ margin-top: 0; }

dl.category 		{ margin: 10px 0 0 0; }
dl.category dt a,
dl.category dt a:visited	{ background-repeat: no-repeat;cursor: pointer; color: #00131D; display: block; font-size: .9em; padding-bottom: 5px; padding-left: 20px;background: url(../images/pone_tooltip_expand.gif) no-repeat left top;}

#home dl.category dt a:hover { text-decoration: none; color: #000; border-color: #fff; vertical-align: bottom;}
dl.category dt	{ margin: 5px 0 0 0; padding: 0;color: #333; font-weight: normal;  vertical-align: bottom; clear: left;/* This fixes the IE5 Win gap! */ }
dl.category dd 	{ font-size: .9em; vertical-align: bottom;}
dl.category ul	{ padding: 5px 10px; margin: 10px; clear: left;}
dl.category li	{ list-style-position: outside; }
dl.category li a{ vertical-align: bottom; }
dl.category a,
dl.category a:link { outline: none; }
dl.category img	{ float: none; display: inline;float: left; padding: 0; margin-left: 0;}
dl.category dd	{ display: none; background-color: #fff;}

.block.recent		{ padding: 0; }
.block.recent ul	{ margin: 10px; }
div.subject		{ padding: 0; padding-top: 5px;border: none;}


div.ad					{ margin-top: 20px; }
div.ad strong			{ display: block; }
div.ad img				{ border: 1px solid #ccc; }

div.block.mainnav	{ margin: 0; padding: 10px 0;}
*html div.block.mainnav { border-left: 1px solid #ccc; border-top: 1px solid #ccc; }
.mainnav ul,			
.mainnav ul li 		{ margin: 0; padding: 0; list-style-type: none; background-color: #fff;}
.mainnav ul			{ text-indent: 10px; margin: 0; padding: 10px;position: relative; }
.mainnav ul li a 	{ font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.5em; letter-spacing: -.03em; line-height: 1.6em; margin-right: 10px;}


div.info			{ margin-top: 20px; margin-right: -1px;background: #Ddd;}
div.feature img,
div.info img		{ margin: 10px; border: 1px solid #ccc; position: relative; width: 45px; height: 45px;}
#home div.feature h3,
#home div.info h3	{ /*font-size: 1em; border-width: 0; font-family: Verdana, Arial, Helvetica, sans-serif; padding-left: 15px; margin-left: -7px;letter-spacing: normal; background-color: #ddd; color: #000; */ background-color: transparent; padding-bottom: 4px text-align: right; font-size: 1.4em; padding-bottom: 10px; color: #666; padding-left: 10px;}
#home div.feature h3	{ font-size: 2em; color: #333; border-top: 2px solid #333; padding-top: 10px; margin-top: 0;}
#home div.feature div { border-bottom: 1px solid #ccc; padding: 10px;}
#home div.feature ul.articles a{ font-size: 1em; }
div.info p			{ margin-top: 0; margin-left: 10px;}

a.more				{ font-weight: bold; text-transform: uppercase; margin-left: 5px;}

ul.journals			{ margin: 0; padding: 0; list-stype-type: none; text-align: left; background-color: #333;}
ul.journals li		{ margin: 0; padding: 0 4px; list-style-type: none; font-size: .9em; border-bottom: 1px solid #fff;}
ul.journals li a	{ color: #fff; }


/*#home div.feature h3{ background-color: #069; color: #fff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1em; padding-left: 4px;}*/
div.feature a		{ font-weight: bold; font-size: .9em;}
div.feature	img		{ border: 1px solid #ccc;}
div.feature p		{ margin: 0; }

.anesthes			{ background-position: 0 0; }
.biochemi			{ background-position: 0 -30px; }
.biophysi			{ background-position: 0 -60px; }
.biotechn			{ background-position: 0 -90px; }
.cardiova			{ background-position: 0 -120px; }
.cellbiol			{ background-position: 0 -150px; }
.chemical			{ background-position: 0 -180px; }
.chemistr			{ background-position: 0 -210px; }
.computat			{ background-position: 0 -240px; }
.computer			{ background-position: 0 -270px; }
.critical			{ background-position: 0 -300px; }
.dermatol			{ background-position: 0 -330px; }
.developm			{ background-position: 0 -360px; }
.diabetes			{ background-position: 0 -390px; }
.ecology			{ background-position: 0 -420px; }
.evidence			{ background-position: 0 -450px; }
.evolutio			{ background-position: 0 -480px; }
.gastroen			{ background-position: 0 -510px; }
.genetics			{ background-position: 0 -540px; }
.geriatri			{ background-position: 0 -570px; }
.hematolo			{ background-position: 0 -600px; }
.immunolo			{ background-position: 0 -630px; }
.infectio			{ background-position: 0 -660px; }
.mathemat			{ background-position: 0 -690px; }
.mentalhe			{ background-position: 0 -720px; }
.microbio			{ background-position: 0 -750px; }
.molecula			{ background-position: 0 -780px; }
.nephrolo			{ background-position: 0 -810px; }
.neurolog			{ background-position: 0 -840px; }
.neurosci			{ background-position: 0 -870px; }
.non-clin			{ background-position: 0 -900px; }
.nutritio			{ background-position: 0 -930px; }
.obstetri			{ background-position: 0 -960px; }
.oncology			{ background-position: 0 -990px; }
.ophthalm			{ background-position: 0 -1020px; }
.otolaryn			{ background-position: 0 -1050px; }
.patholog			{ background-position: 0 -1080px; }
.pediatri			{ background-position: 0 -1110px; }
.pharmaco			{ background-position: 0 -1140px; }
.physics			{ background-position: 0 -1170px; }
.physiolo			{ background-position: 0 -1200px; }
.plantbio			{ background-position: 0 -1230px; }
.publiche			{ background-position: 0 -1260px; }
.radiolog			{ background-position: 0 -1290px; }
.respirat			{ background-position: 0 -1320px; }
.rheumato			{ background-position: 0 -1350px; }
.sciencep			{ background-position: 0 -1380px; }
.subjects			{ background-position: 0 -1410px; }
.surgery			{ background-position: 0 -1440px; }
.urology			{ background-position: 0 -1470px; }
.virology			{ background-position: 0 -1500px; }
.womenshe			{ background-position: 0 -1530px; }


div.horizontalTabs		{ position: relative; border-width: 0;}
.horizontalTabs ul,
.horizontalTabs ul li	{ list-style-type: none; margin: 0; padding: 0; font-weight: bold; }
.horizontalTabs ul		{ display: block; padding-top: 5px;margin-bottom: 5px; margin-top: 5px;z-index: 10; border-bottom-width: 0;}
.horizontalTabs ul li	{ background: #ddd;cursor: pointer; padding: 2px; background-color: #ccc; font-weight: normal; margin: 5px 2px 3px 2px; display: inline; padding-right: 10px;}
.horizontalTabs ul li.active	{ font-weight: bold;background: #FFF; border-width: 0;text-decoration: none;}
.horizontalTabs .contentwrap {margin: 0; border: 2px solid #fff; padding: 0;position: relative; }
.horizontalTabs .contentwrap ul li	{ display: list-item; background: #fff;list-style-type: disc; margin-bottom: 0; padding: 0; border-width: 0;}
.horizontalTabs .contentwrap ul { padding-left: 18px; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}