<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="autodetect"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!--Plosone developer beans here -->
  <bean id="fetchArticleService" class="org.plos.article.service.FetchArticleService" scope="session" init-method="init">
    <property name="articleRep" value="XML"/>
    <!-- Note: remember to prefix the filename with a "/" -->
    <property name="xslTemplate" value="/viewnlm-v2.xsl"/>
    <property name="xmlFactoryProperty" ref="xmlFactoryProperties"/>
    <property name="articleService" ref="articleService"/>
    <property name="useTranslet" value="true"/>
  </bean>

  <util:map id="xmlFactoryProperties">
    <entry key="javax.xml.transform.TransformerFactory"
           value="org.apache.xalan.xsltc.trax.TransformerFactoryImpl"/>
  </util:map>

  <!-- TODO: Update the url automatically using maven build process itself-->
  <bean id="articleService" class="org.plos.article.service.ArticleService" scope="session">
    <property name="servicePort" value="http://localhost:9080/ws-articles-webapp-0.5-SNAPSHOT/services/ArticleServicePort"/>
  </bean>

  <bean id="defaultEncodingCharset" class="java.lang.String">
    <constructor-arg value="UTF-8"/>
  </bean>

  <bean id="applicationId" class="java.lang.String">
    <constructor-arg value="topaz-plosone"/>
  </bean>

  <bean id="auth-method" class="java.lang.String">
    <constructor-arg value="CAS"/>
  </bean>

  <bean id="userContext" class="org.plos.annotation.web.UserContext"/>

  <bean id="permissionWebService" class="org.plos.annotation.service.PermissionWebService">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:9080/ws-permissions-webapp-0.5-SNAPSHOT/services/PermissionsServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="lazyLoaderFactory" class="org.plos.annotation.service.AnnotationLazyLoaderFactory">
    <property name="permissionWebService" ref="permissionWebService"/>
  </bean>

  <bean id="annotationConverter" class="org.plos.annotation.service.AnnotationConverter" scope="session">
    <property name="lazyLoaderFactory" ref="lazyLoaderFactory"/>
  </bean>

  <bean id="replyTopazService" class="org.plos.annotation.service.ReplyWebService" init-method="init" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="encodingCharset" ref="defaultEncodingCharset"/>
    <property name="defaultType" value="http://www.w3.org/2001/12/replyType#Comment"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:9080/ws-annotation-webapp-0.5-SNAPSHOT/services/ReplyServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="annotationTopazService" class="org.plos.annotation.service.AnnotationWebService" init-method="init" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="encodingCharset" ref="defaultEncodingCharset"/>
    <property name="defaultType" value="http://www.w3.org/2000/10/annotationType#Annotation"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:9080/ws-annotation-webapp-0.5-SNAPSHOT/services/AnnotationServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="annotationService" class="org.plos.annotation.service.AnnotationService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="converter" ref="annotationConverter"/>
    <property name="annotationWebService" ref="annotationTopazService"/>
    <property name="replyWebService" ref="replyTopazService"/>
  </bean>

  <bean id="profanityCheckingService" class="org.plos.util.ProfanityCheckingService">
    <property name="profaneWords">
      <list>
        <value>bush</value>
      </list>
    </property>
  </bean>

</beans>