<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Copyright (c) 2006 by Topaz, Inc.
  - http://topazproject.org
  -
  - Licensed under the Educational Community License version 1.0
  - http://opensource.org/licenses/ecl1.php
  -->
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!--Plosone developer beans here -->
  <bean id="fetchArticleService" class="org.plos.article.service.FetchArticleService" scope="session" init-method="init">
    <property name="articleRep" value="XML"/>
    <!-- Note: remember to prefix the filename with a "/" -->
    <property name="xslTemplate" value="/viewnlm-v2.xsl"/>
    <property name="xmlFactoryProperty" ref="xmlFactoryProperties"/>
    <property name="articleService" ref="articleWebService"/>
    <property name="annotationWebService" ref="annotationWebService"/>
    <property name="useTranslet" value="true"/>
    <property name="encodingCharset" ref="defaultEncodingCharset"/>
  </bean>

  <util:map id="xmlFactoryProperties">
<!--      <entry key="javax.xml.transform.Transfor<Factory"
           value="com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl"/>-->
   <entry key="javax.xml.transform.TransformerFactory"
               value="net.sf.saxon.TransformerFactoryImpl"/>
    <entry key="javax.xml.transform.Transformer"
            value="net.sf.saxon.Controller"/>
  </util:map>

  <!-- TODO: Update the servicePort url's automatically using maven build process itself-->
  <bean id="articleWebService" class="org.plos.article.service.ArticleWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-articles-webapp-0.5-SNAPSHOT/services/ArticleServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
    <property name="smallImageRep" value="TIF"/>
    <property name="mediumImageRep" value="TIF"/>
    <property name="largeImageRep" value="TIF"/>
<!--
    <property name="smallImageRep" value="PNG-S"/>
    <property name="mediumImageRep" value="PNG-M"/>
    <property name="largeImageRep" value="PNG-L"/>
    -->
   </bean>
   
   <bean id="crossRefPosterService" class="org.plos.admin.service.CrossRefPosterService">
    <!-- following is the URL for the CrossRef service. The three parameters which should be set are
    	* area=  test or live. Decides if the cross ref is actually 'posted'. area=test for testing, area=live for deployment
    	* login_id=crossref user name
    	* login_passwd=crossref user password
    -->
    <property 
    	name="doiXrefUrl" 
    	value="http://doi.crossref.org/servlet/deposit?operation=doMDUpload&amp;login_id=atypon&amp;login_passwd=_atypon_&amp;area=test"
    />      
  
  </bean>

  <bean id="documentManagementService" class="org.plos.admin.service.DocumentManagementService" scope="session">
  	<!-- These pathnames are absolute -->
  	<property name="documentDirectory" value="/usr/plosdocs"/>
  	<property name="ingestedDocumentDirectory" value="/usr/plosdocs/ingested"/>
  	<!-- Whereas this is relative to webapp/src/main/resources  -->
    <property name="xslTemplate" value="/crossref.xsl"/>    	
  </bean>
  
  <bean id="defaultEncodingCharset" class="java.lang.String">
    <constructor-arg value="UTF-8"/>
  </bean>

  <bean id="applicationId" class="java.lang.String">
    <constructor-arg value="topaz-plosone"/>
  </bean>

  <bean id="auth-method" class="java.lang.String">
    <constructor-arg value="CAS"/>
    <!--<constructor-arg value="TEST"/>-->
  </bean>

  <bean id="userContext" class="org.plos.web.UserContext" scope="session"/>

  <bean id="permissionWebService" class="org.plos.permission.service.PermissionWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-permissions-webapp-0.5-SNAPSHOT/services/PermissionsServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="lazyLoaderFactory" class="org.plos.annotation.service.AnnotationLazyLoaderFactory"/>

  <bean id="annotationConverter" class="org.plos.annotation.service.AnnotationConverter" scope="session">
    <property name="lazyLoaderFactory" ref="lazyLoaderFactory"/>
  </bean>

  <bean id="replyWebService" class="org.plos.annotation.service.ReplyWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="encodingCharset" ref="defaultEncodingCharset"/>
    <property name="defaultType" value="http://www.w3.org/2001/12/replyType#Comment"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-annotation-webapp-0.5-SNAPSHOT/services/ReplyServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="annotationWebService" class="org.plos.annotation.service.AnnotationWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="encodingCharset" ref="defaultEncodingCharset"/>
    <property name="defaultType" value="http://www.w3.org/2000/10/annotationType#Annotation"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-annotation-webapp-0.5-SNAPSHOT/services/AnnotationServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="annotationService" class="org.plos.annotation.service.AnnotationService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="converter" ref="annotationConverter"/>
    <property name="annotationWebService" ref="annotationWebService"/>
    <property name="replyWebService" ref="replyWebService"/>
    <property name="permissionWebService" ref="permissionWebService"/>
  </bean>

  <bean id="userWebService" class="org.plos.user.service.UserWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-users-webapp-0.5-SNAPSHOT/services/UserAccountsServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="userRoleWebService" class="org.plos.user.service.UserRoleWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-users-webapp-0.5-SNAPSHOT/services/UserRolesServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="preferencesWebService" class="org.plos.user.service.PreferencesWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-pap-webapp-0.5-SNAPSHOT/services/PreferencesServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>
  
  <bean id="profileWebService" class="org.plos.user.service.ProfileWebService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="configurationMap">
      <map>
        <entry key="uri" value="http://localhost:8080/ws-pap-webapp-0.5-SNAPSHOT/services/ProfilesServicePort"/>
        <entry key="auth-method" value-ref="auth-method"/>
      </map>
    </property>
  </bean>

  <bean id="userService" class="org.plos.user.service.UserService" scope="session">
    <property name="userContext" ref="userContext"/>
    <property name="userWebService" ref="userWebService"/>
    <property name="userRoleWebService" ref="userRoleWebService"/>
    <property name="profileWebService" ref="profileWebService"/>
    <property name="permissionWebService" ref="permissionWebService"/>
    <property name="preferencesWebService" ref="preferencesWebService"/>
    <property name="userCacheAdministrator" ref="userCacheAdministrator"/>
    <property name="applicationId" ref="applicationId"/>
    <property name="emailAddressUrl" value="https://localhost:7443/cas/email?guid="/>
    <property name="weeklyCategories">
      <list>
        <value>plosone</value>
        <value>biology</value>
        <value>clinical_trials</value>
        <value>computational_biology</value>
        <value>genetics</value>
        <value>medicine</value>
        <value>pathogens</value>
      </list>
    </property>
    <property name="monthlyCategories">
      <list>
        <value>biology</value>
        <value>clinical_trials</value>
        <value>computational_biology</value>
        <value>genetics</value>
        <value>medicine</value>
        <value>pathogens</value>
      </list>
    </property>
    <property name="categoryNames">
      <map>
        <entry key="plosone" value="PLoS One"/>
        <entry key="biology" value="PLoS Biology"/>
        <entry key="computational_biology" value="PLoS Computational Biology"/>
        <entry key="clinical_trials" value="PLoS Clinical Trials"/>
        <entry key="genetics" value="PLoS Genetics"/>
        <entry key="medicine" value="PLoS Medicine"/>
        <entry key="pathogens" value="PLoS Pathogens"/>
      </map>
    </property>
  </bean>

  <bean id="profanityCheckingService" class="org.plos.util.ProfanityCheckingService">
    <property name="profaneWords">
      <list>
        <value>bush</value>
      </list>
    </property>
  </bean>

  <bean id="searchService" class="org.plos.search.service.SearchService">
    <property name="snippetsMax" value="3"/>
    <property name="fieldMaxLength" value="50"/>
    <property name="indexName" value="TopazIndex"/>
    <property name="resultPageXslt" value="copyXml"/>
    <property name="searchWebService" ref="searchWebService"/>
  </bean>

  <bean id="searchWebService" class="org.plos.search.service.SearchWebService" init-method="init">
    <property name="uri"
              value="http://localhost:9092/ws-search-webapp-0.5-SNAPSHOT/services/FedoraGenericSearchServicePort"/>
  </bean>

  <bean id="plosOneFreemarkerManager" class="org.plos.webwork.PlosOneFreemarkerManager">
    <constructor-arg index="0">
      <ref bean="plosOneFreemarkerConfig" />
    </constructor-arg>      
  </bean>
  
  <bean id="plosOneFreemarkerConfig" class="org.plos.webwork.PlosOneFreemarkerConfig" />
  
  <bean id="userCacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
    <constructor-arg index="0">
      <props>
        <prop key="cache.memory">true</prop>
      </props>
    </constructor-arg>
  </bean>
  
  <bean id="articleCacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy"/>
</beans>